@import url('https://fonts.googleapis.com/css2?family=Sedan+SC&family=Open+Sans&display=swap');
body {
    font-family: var(--paragraph-font);
    max-width: 960px;
    padding: 20px;
}

:root {
    --primary-color: #93B7BE;
    --secondary-color: #F1FFFA;
    --accent1-color: #D5C7BC;
    --accent2-color: #785964;

    --heading-font: 'Sedan SC',serif;
    --paragraph-font: 'Open Sans',sans-serif;

    --nav-background-color: #F1FFFA;
    --nav-link-color: #454545;
    --nav-hover-link-color: #785964;
    --nav-hover-background-color: #D5C7BC;
}

h1, h2, h3, h4 {
    color: var(--primary-color);
}

header{
    padding: 20px;
    background-color: var(--accent1-color);
}

p {
    padding: 25px;
}

nav {
    background-color: var(--nav-background-color);
    font-size: 1.2rem;
    display: flex;
}

nav a {
    display: block;
    color: var(--nav-link-color);
    text-decoration: none;
    padding: 1rem;
}

nav a:link, nav a:visited {
    color: var(--nav-link-color);
}

nav a:hover {
    color: var(--nav-hover-link-color);
    background-color: var(--nav-hover-background-color);
}